[user]
	name = Clemens Lange
	github = clelange
	email = clemens.lange@cern.ch
[alias]
	a = add
	ap = add --patch
	am = am -s
	c = commit
	cs = commit -s
	ca = commit --amend
	co = checkout
	b = branch -vv
	l = log --graph --all --abbrev-commit --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(green)%ar %C(yellow)%an%C(bold yellow)%d%C(reset)%n        %C(white)%s%n'
	lt = log --graph --abbrev-commit --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(green)%ar %C(yellow)%an%C(bold yellow)%d%C(reset)%n        %C(white)%s%n'
	ll = log --graph --abbrev-commit --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(green)%ar %C(yellow)%an%C(bold yellow)%d%C(reset)%n        %C(white)%s%n' -10 HEAD~6..HEAD
	lf = log --pretty=fuller
	ls = log --pretty=fuller --stat
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	s = status
	d = diff
	ds = diff --stat
	dc = diff --cached
	dcs = diff --cached --stat
	dp = show
	dhh = diff HEAD^!
	dhhs = diff HEAD^! --stat
	doh = diff origin/master HEAD
	dohs = diff origin/master HEAD --stat
	rb = rebase
	rbi = rebase -i
	rbio = rebase -i origin/master
	t = tag -a
	tl = tag -ln1
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	today = log --since=00:00:00 --all --no-merges --oneline
	upstream = log --oneline --no-merges HEAD..origin/master
	local = log --oneline --no-merges origin/master..HEAD
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[core]
	editor = vim
	autocrlf = false
	safecrlf = true
	excludesfile = /Users/clange/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
	branch = auto
    diff = auto
    interactive = auto
    status = auto

[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/clange/.stCommitMsg
[http]
	emptyAuth = true
