"*":
  "Sublime-Style-Column-Selection": {}
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    cpp:
      configPath: "/Users/clange/uncrustify.cfg"
    executables:
      autopep8:
        path: "/Users/clange/.pyenv/versions/3.6.6/Python.framework/Versions/3.6/bin/autopep8"
    general:
      _analyticsUserId: "cc2d2384-e72d-4a08-beee-e4f8e68d5821"
    python: {}
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: []
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "atom-ternjs"
      "color-picker"
      "git-control"
      "pigments"
      "remote-edit"
      "ide-python"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.png"
      "*.pdf"
      "*.pyc"
      "*.so"
      "**/cfg/VV_*"
      "**/plots_"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "1ac85620-c91e-b695-695a-12e7663ee7d7"
  "find-and-replace":
    caseSensitive: true
  fonts:
    fontFamily: "FiraCode"
  "git-plus":
    general:
      _analyticsUserId: "d06e42db-31f1-4296-8eae-11f452f820a6"
  "ide-python":
    pylsPlugins:
      pycodestyle:
        hangClosing: true
      pydocstyle:
        enabled: true
  kite:
    showKiteTourOnStatup: false
  linter: {}
  "linter-flake8":
    maxLineLength: 500
    pep8ErrorsToWarnings: true
  "linter-pycodestyle":
    maxLineLength: 500
  "linter-ui-default":
    panelHeight: 166
    showPanel: true
  minimap:
    adjustAbsoluteModeHeight: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "remote-atom":
    launch_at_startup: true
    port: 52699
  "seti-ui": {}
  "sync-settings":
    _lastBackupHash: "5026ee829cc8f9c1be6d5f0c0c580cfa4846402b"
    gistId: "7c676b37caf84ea69b97d20f370dfbdd"
    personalAccessToken: "9b0dfedb463c38677a8f317cd9c2f478ca02fada"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 2
".cpp.source":
  editor:
    tabLength: 2
".diff.source":
  editor:
    tabLength: 4
