packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-ternjs"
  "auto-indent"
  "autocomplete-clang"
  "autocomplete-python"
  "color-picker"
  "expose"
  "fonts"
  "git-control"
  "git-plus"
  "highlight-selected"
  "imdone-atom"
  "linter"
  "linter-flake8"
  "linter-pycodestyle"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "monokai-seti"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "remote-atom"
  "remote-edit"
  "seti-ui"
  "Sublime-Style-Column-Selection"
  "terminal-plus"
  "todo-show"
]
